.hidden {
  display: none;
}

.table {
  display: table;

  .tbl-header {
    font-weight: bold;
  }

  .row {
    display: table-row;
  }

  .cell {
    display: table-cell;
    text-align: center;
  }
}
